<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Document</title>
</head>
<body>
    <div class="overlay" id="overlay">
        <h3> Searching .......</h3>
    </div>
<div class="start">
    <header>
        <a href="#">yummy.eats</a>
    </header>
    <div>
        <h1><span class="h">The Healthy</span>Eating Experience</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptatum minima, eaque rem nobis quidem laboriosam quam. Pariatur, reiciendis ipsa?</p>
    </div>
    <div class="middle">
        <form action="">
            <label for="city"> Enter Your City</label>
            <input  type="text" id="city">
            <p style="color: gray;">Example:New york</p>
            <button id="orangebutton" class="mbutton" type="button">Find</button>
        </form>
    </div>
</div>
   

    
        <div class="auth">
            <h2>Authentic. Wholesome.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque deleniti quos minus inventore ut molestias dolore perspiciatis rerum ea maiores.

            </p>
            <img class="food" src="/static/images/food.jpg" alt="orange">
        </div>
        <script src="/static/js/main.js"></script>
    

</body>
</html>